* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER */
    /* HEADER */
    header header {
        background-color: black;
        color: #F3F3F3;
        display: flex;
        justify-content: space-between;
        padding: 4px 10% 4px 6%;
    }
    .div-right-hh {
        display: flex;
    }
    header header p {
        font-weight: 400;
        font-size: 10px;
        line-height: 11.72px;
    }
    #header select{
        background: transparent;
        border: none;
        color: white;
        font-size: 10px;
    }
    #header select option {
        background-color: black;
    }

    /* MAIN */
    header main {
        background-color: #F0A83E;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 5% 24px 5%;
    }
    .main-img-left-hm {
        height: 40px;
    }
    .main-ul-right-hm {
        display: flex;
    }
    header main ul li {
        margin-right: 40px;
        font-size: 19px;
        line-height: 15.23px;
        font-weight: 400;
        color: white;
    }
    header main ul li img {
        width: 18px;
        margin-right: 3px;
    }

/* MAIN */
    /* MAIN */
    #main-main {
        background: no-repeat center url('../img/bowl-and-pet-daities-on-green-background.png');
        background-size: 1920px;
        height: 600px;
    }
    .box-main-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 60%;
        padding-top: 227px;
        width: 40%;
        }
    .h2-box-main-main {
        font-size: 30px;
        font-weight: 400;
        line-height: 35.16px;
        color: #3C2313;
        background-color: white;
        padding: 10px;
    }
    .p-box-main-main {
        color:#3C2313;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        margin-top: 12px;
    }
    .a-box-main-main {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        background-color: #F0A83E;
        padding: 15px 23px;
        margin-top: 12px;
    }

    /* SECTION 1 */
    #section-1 {
        margin-bottom: 50px;
    }

    .div-1-section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 50px;
    }
    .div-1-section-1 h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    color: #3C2313;
    margin-top: 10px;
    }
    .div-1-section-1 img {
        width: 5%;
    }
    .ulmodif {
        display: flex;
        padding: 0;
        padding-top: 20px;
    }
    .ulmodif li{
        font-size: 15px;
        font-weight: 400;
        line-height: 17.58px;
        color: #666666;
    }
    .margin-li-section-main {     
        margin-left: 15px;
    }
    /* BOX */
    .box-section-1-main {
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
    }
    .box-section-1-main div {
        background: #FBFAF6;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
    }
    .box-section-1-main div img {
        width: 100%;
    }
    .box-section-1-main div p {
        padding-bottom: 10px;
        color: #F0A83E;
        font-size: 18px;
        font-weight: 500;
        line-height: 17.58px;
        margin-top: 10px;
    }
    .box-section-1-main div h3 {
        color: #3C2313;
        font-size: 18px;
        font-weight: 500;
        line-height: 17.58px;
    }
    /* FORM SECTION */

    #form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 50px;
    }
    #form-section h2{
        margin-top: 20px;
        font-size: 25px;
        font-weight: 700;
        line-height: 29.3px;
        color:#3C2313;
    }
    #form-section form {
        display: flex;
        flex-direction: column;
        width: 33.20%;
        margin-top: 30px;
    }
    #form-section form input {
        background-color: #3C2313;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 10px;
        border-radius: 20px;
        border: none;
    }
    #form-section form input::placeholder {
        color: white;
        font-size: 9px;
        font-weight: 400;
        line-height: 10.55px;
        padding-left: 10px;
    }
    #form-section form div {
        align-self: center;
    }
    #form-section form button {
        width: 110px;
        height: 34px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }
    /* FOOTER */
    #footer-section {
        background: #F0A83E;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5% 0px 3%;
        height: 60px;
    }
    .envio-footer-main{
        display: flex;
        align-items: center;
    }
    .envio-footer-main h3{
        color: white;
        font-size: 20px;
        font-weight: 700;
        line-height: 23.44px;
        margin-left: 7px;
    }

    .box-form-footer input{
        background-color: white;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 150px;
        border-radius: 20px;
        border: none;
    }
    .box-form-footer input::placeholder {
        color: #A0A0A0;
        font-size: 9px;
        font-weight: 400;
        line-height: 10.55px;
        padding-left: 10px;
    }
    .box-form-footer button {
        width: 110px;
        height: 34px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        background: #3C2313;
        color: white;
    }
/* FOOTER */
#footer main {
    display: flex;
    background: #3C2313;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}
.box-1-main-footer {
    display: flex;
    flex-direction: column;
}
.box-1-main-footer h3 {
    color: white;
    font-size: 20px;
    line-height: 23.44px;
    font-weight: 700;
}
.box-1-main-footer p{
    color: #8a8787;
    line-height: 11.72px;
    font-size: 10px;
    font-weight: 700;
}
.box-grl-main-footer {
    display: flex;
}
.footer-footer {
    background: #222222;
    font-weight: 700;
    font-size: 10px;
    line-height: 11.72px;
    text-align: center;
    color: white;
    padding: 5px 0;
}